body {
  padding-top: 70px;
}
body div.headar {
  padding-bottom: 20px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.toast-top-right {
  top: 70px;
}
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
form.form-inline div.form-group {
  margin-right: 10px;
}
