.container
	.well
		form.form-horizontal
			fieldset 
				legend Add New Book
				.form-group
					label.col-md-2.control-label(for="name") Book Name
					.col-md-10
						input.form-control(type="text", placeholder="Book Name")
				.form-group
					label.col-md-2.control-label(for="genres") Genre
					.col-md-10
						input.form-control(type="text", placeholder="genre")
				.form-group
					label.col-md-2.control-label(for="image") Image Url
					.col-md-10
						input.form-control(type="text", placeholder="URL")
				.form-group
					label.col-md-2.control-label(for="author") Author
					.col-md-10
						input.form-control(type="text", placeholder="Author")
				.form-group
					label.col-md-2.control-label(for="typ") Typ
					.col-md-10
						input.form-control(type="text", placeholder="typ")
				.form-group
					label.col-md-2.control-label(for="published") Published
					.col-md-10
						input.form-control(type="text", placeholder="published")
				.form-group
					label.col-md-2.control-label(for="publishers") Publishers
					.col-md-10
						input.form-control(type="text", placeholder="publishers")
				.form-group
					label.col-md-2.control-label(for="pages") Pages
					.col-md-10
						input.form-control(type="text", placeholder="pages")
				.form-group
					label.col-md-2.control-label(for="ISBN") ISBN
					.col-md-10
						input.form-control(type="text", placeholder="ISBN")
				.form-group
					label.col-md-2.control-label(for="description") Description
					.col-md-10
						input.form-control(type="text", placeholder="description")
				.pull-right
					button.btn.btn-primary Add
					a.btn.btn-primary(href="#/") Cancel