div.contact
	h4 Ръководител:
	p
		| Красимира Юрукова
		br/
		a(href="http://www.abv.bg/") krasi_yurukova@abv.bg
	h4 Разработили:
	p
		| Садика Маджарова	
		br/
		a(href="http://www.abv.bg/") kinka96@abv.bg
	p
		| Яна Стоянова
		br/
		a(href="http://www.abv.bg/") ianeto2@abv.bg