div.list-group
	a.list-group-item(href="/") Детски
	a.list-group-item(href="/") Изкуство
	a.list-group-item(href="/") История
	a.list-group-item(href="/") Митология
	a.list-group-item(href="/") Поезия
	a.list-group-item(href="/") Публицистика
	a.list-group-item(href="/") Религиозни
	a.list-group-item(href="/") Романи и разкази
