div.list-group
	a.list-group-item(href="/") Научна фантастика
	a.list-group-item(href="/") Драма
	a.list-group-item(href="/") Романтика
	a.list-group-item(href="/") Поезия
	a.list-group-item(href="/") Детски
	a.list-group-item(href="/") Религиозни
	a.list-group-item(href="/") Изкуство
	a.list-group-item(href="/") История
