form.form-inline
	div.form-group
		input.form-control(type="text", placeholder="Search")
	button.btn.btn-info(type="button")
		span.glyphicon.glyphicon-search 

div.gallery
	h2 Book Gallery
	div.row
		div.col-md-3
			a.thumbnail(href="/")
				p Детска книжка: "Науката около нас"
				img.gallery(src="http://www.img-share.eu/f/images/57/fiut1b4cLrfu.jpg")
		div.col-md-3
			a.thumbnail(href="/")
				p Изкуство: "Основи на църковната живопис"
				img.gallery(src="http://www.img-share.eu/f/images/57/191217_biNZqTol.jpg")
		div.col-md-3
			a.thumbnail(href="/")
				p Романи и разкази: "Морски разкази"
				img.gallery(src="http://www.img-share.eu/f/images/57/152056vZ7ci6c.jpg")
		div.col-md-3
			a.thumbnail(href="/")
				p Поезия: "Есенна жена"
				img.gallery(src="http://www.img-share.eu/f/images/57/190450_bhdiFNSQ.jpg")
				
		

	


